body {
  font-family: Lato;
  font-weight: 300;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.content-wrapper .links a {
  display: block;
}

footer {
  text-align: center;
}

h1 {
  font-family: Cinzel;  
  font-size: 40px;
  color: purple;
}

h2 {
  font-family: Cinzel;
  color: purple;
  font-weight: 200
}