body {
  background-image: url(https://github.com/ADHDFairy/my-site/blob/master/Pictures/rainbowbackground.png?raw=true);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  font-family: Lato;
  font-weight: 300;
}

.content-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.content-wrapper .links a {
  display: block;
}



h1 {
  font-family: Cinzel;  
  font-size: 40px;
  color: purple;
}

h2 {
  font-family: Cinzel;
  color: purple;
  font-weight: 200
}